@model IEnumerable<ClientCSC.Models.CredentialObject>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}


<div class="card">
    <div class="card-header"><h5>Certificates available</h5></div>
    <div class="card-body">

        @foreach (var certificate in Model)
        {
            <div class="card">
                <div class="card-header"><button style="float:right" class="btn btn-outline-info" id="select_certificate" onclick="LockCertificate('@certificate.credentialID')">Use this certificate to sign</button></div>
                <div class="card-body">
                    <p>Credential ID @certificate.credentialID</p>
                    <p>Subject Name @certificate.certificate.subjectDN</p>
                    <p>Issuer @certificate.certificate.issuerDN</p>
                    <p>Valid from @certificate.certificate.validFrom Valid to @certificate.certificate.validTo</p>
                   

                </div>
            </div>
            i++;
        }
    </div>
</div>
